<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>2hours</title>
        <link rel="stylesheet" href="/css/post.css">
    </head>
    <body>
        <div class="users">
            <div class="userwrapper">
                <img src="#" alt="profilepic">
                    <span>Uzivatel 1</span>
            </div>
            <div class="userwrapper">
                <img src="#" alt="profilepic">
                    <span>Uzivatel 2</span>
            </div>
            <div class="userwrapper">
                <img src="#" alt="profilepic">
                    <span>Uzivatel 3</span>
            </div>
            <div class="userwrapper">
                <img src="#" alt="profilepic">
                    <span>Uzivatel 4</span>
            </div>
            <div class="userwrapper">
                
            </div>

            <div class="orderwrapper">
               <textarea rows="50" cols="50" placeholder="Enter your order here"></textarea> 
                <input type="submit" name="send" value="Place order">
            </div>
        </div>
    </body>
</html>
