<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>2hours</title>
        <link rel="stylesheet" href="/css/post.css">
    </head>
    <body>
        <div class="users">
            <div class="userwrapper">
                <img src="#" alt="profilepic">
                    <span>Uzivatel 1</span>
            </div>
            <div class="userwrapper">
                <img src="#" alt="profilepic">
                    <span>Uzivatel 2</span>
            </div>
            <div class="userwrapper">
                <img src="#" alt="profilepic">
                    <span>Uzivatel 3</span>
            </div>
            <div class="userwrapper">
                <img src="#" alt="profilepic">
                    <span>Uzivatel 4</span>
            </div>
            <div class="userwrapper">
                
            </div>

            <div class="orderwrapper">
                <div class="neworder">
                    <form action="api/neworder" method="POST">
                        <textarea rows="50" cols="50" name="order" value="order" placeholder="Enter your order here"></textarea> 
                        <input type="submit" name="send" value="Place order">
                    </form>
                </div>
                <div class="orders">
                    <div class="order">
                        <span>Order id here: !)@(#)!#(!@#*%&*!@#(</span>
                        <span>Your order that u placed for that couch or something is down here</span>
                    </div>
                    <div class="order">
                        <span>Order id here: !)@(#)!#(!@#*%&*!@#(</span>
                        <span>Your different order </span>
                        
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
